﻿@model FilterViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index" asp-controller="Home" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label asp-for="BaseCurrency">Base</label><br />
            <select class="form-control" asp-for="BaseCurrency" asp-items="ViewBag.Currencies" id="baseCurrency" required></select>
            <span asp-validation-for="BaseCurrency"></span>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="TargetCurrency">Target</label><br />
            <select class="form-control" asp-for="TargetCurrency" asp-items="ViewBag.TargetCurrencies" id="targetCurrency" required></select>
            <span asp-validation-for="TargetCurrency"></span>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="Start">Start</label><br />
            <input class="form-control" type="date" asp-for="Start" id="start" required />
            <span asp-validation-for="Start"></span>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="End">Finish</label><br />
            <input class="form-control" type="date" asp-for="End" id="end" required />
            <span asp-validation-for="End"></span>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary" id="submit">Submit</button>
    </div>
</form>
<div class="alert alert-warning alert-dismissible fade" role="alert">
    <strong>Что то пошло не так!</strong>
</div>
<div class="modal"></div>
<div id="message" class="message"></div>
<div id="chart1" style="height:600px;width:800px; "></div>